# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
*.db

# AWS CLI bundles
awscli-bundle/
awscli-bundle.zip

# Environment
.env
*.env

# Logs
*.log

# Python virtual environments
venv/
.env/
.venv/
ENV/
env.bak/
env/

# VS Code settings
.vscode/

# macOS
.DS_Store

# System files
Thumbs.db


aws
awscli-bundle
awscli-bundle.zip
eks_dashboard.db
